<link href="../assets/css/paper-dashboard.css" rel="stylesheet" />

<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Groups</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Id
                </th>
                <th>
                  Name
                </th>
                <th>
                  Description
                </th>
                <th>
                  Delete
                </th>
                <th>
                  Go
                </th>
              </thead>
              <tbody>
                <tr>
                  <td id="">
                    1
                  </td>
                  <td>
                    Dakota Rice
                  </td>
                  <td>
                    Niger
                  </td>
                  <td>
                    <button class="btn btn-danger" (click)="deleteGroup()"><i class="nc-icon nc-simple-remove"></i></button>
                  </td>
                  <td>
                    <button class="btn btn-primary" [routerLink]="['/chatWindow']">Go</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>